on init
    # RIL <-> audioserver comm
    chmod 0644 /proc/cmdline	

on fs
    chown radio system /efs
    chmod 0771 /efs
    chown radio radio sys/devices/virtual/misc/multipdp/waketime
    chmod 0660 /sys/devices/virtual/misc/umts_dm0/dm_state
    chown radio system /sys/devices/virtual/misc/umts_dm0/dm_state
	
on post-fs-data
    # Remove symlinks to avoid issues with migrate after nandroid restores
    # Will be recreated at end of boot
    rmdir /data/data/com.android.providers.telephony/databases
    rmdir /data/data/com.android.providers.telephony/shared_prefs
    rm /data/data/com.android.providers.telephony/databases
    rm /data/data/com.android.providers.telephony/shared_prefs

on property:sys.boot_completed=1
    # Symlink directories to access telephony.db and preferred-apn.xml required by cbd
    symlink /data/user_de/0/com.android.providers.telephony/databases /data/data/com.android.providers.telephony/databases
    symlink /data/user_de/0/com.android.providers.telephony/shared_prefs /data/data/com.android.providers.telephony/shared_prefs	

# Parse hardware revision (needs to happen before cbd starts)
service modemloader /system/bin/modemloader
    class core
    oneshot

on property:ro.modemloader.done=1
    enable cpboot-daemon

# CP Boot Daemon (CBD)
service cpboot-daemon /vendor/bin/cbd -d -tstem7400 -bh -mh -p /dev/block/platform/15540000.dwmmc0/by-name/RADIO
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell
    seclabel u:r:cbd:s0	
    disabled 
